* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  margin: 10px;
  color: white;
  font-size: 22px;
  background-color: green;
  border-radius: 6px;
}
.number {
  font-size: 27px;
  display: flex;
  justify-content: center;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

